################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Prueba_Tecnica_Finanzauto/bin/Debug/net8.0
/.vs
/.gitignore
